* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 300px auto;
   width: 800px;
   height: 600px;
    background-image: url(예약이미지.jpg);
    border-radius: 50px;
    font-size: 25px;
    color: whitesmoke;
    font-weight: 800;
}
button{
    padding: 10px 20px;
    margin: 10px 0;
}